<div class="survey-splash">
	    <p ng-click="go('preferences')" style="color: white;" class="btn-continue">Continue</p>
	<div class="form-group form-box form-center">
		<form class="flex form-group">
			<input name="origins" id="origin" type="text" placeholder="Montreal, Canada" ng-model="origin" uib-typeahead="city.name for city in cities | filter:$viewValue | limitTo:10"
			class="form-control rounded center-div input-dimensions">
			<img src="images/plane-icon.png" class="airplane">
			<input name="destinations" id="destination" type="text" placeholder="Montreal, Canada" ng-model="destination" uib-typeahead="city.name for city in cities | filter:$viewValue | limitTo:10"
			class="form-control rounded center-div input-dimensions">
		</form>
	</div>
</div>