<div class="splash">
	<div class="form-group form-box">
		<input name="origins" id="origin" type="text" placeholder="Montreal, Canada" ng-model="origin" uib-typeahead="city.name for city in cities | filter:$viewValue | limitTo:10"
			class="form-control">
		<img src="images/airplane.png" class="airplane">
		<input name="destinations" id="destination" type="text" placeholder="Berlin, Germany" ng-model="destination" uib-typeahead="city.name for city in cities | filter:$viewValue | limitTo:10"
			class="form-control">
	</div>
</div>